
        /*nome e cor das coisas*/

        #metaisalcter {
            background-color: #ede368;
            width: 60px;
            height: 60px;
        }

        #metaisalc {
            background-color: #eec66c;
            width: 60px;
            height: 60px;
        }

        #metaistrans {
            background-color: #eaabaa;
            width: 60px;
            height: 60px;
        }

        #outrosmetais {
            background-color: #a0c0c6;
            width: 60px;
            height: 60px;
        }

        #semimetais {
            background-color: #72beb1;
            width: 60px;
            height: 60px;
        }

        #naometais {
            background-color: #aed16d;
            width: 60px;
            height: 60px;
        }

        #halogenios {
            background-color: #a9dce9;
            width: 60px;
            height: 60px;
        }

        #gasesnobres {
            background-color: #6da9cd;
            width: 60px;
            height: 60px;
        }

        #lantanideos {
            background-color: #96d2d3;
            width: 60px;
            height: 60px;
        }

        #actinidios {
            background-color: #dcb8ce;
            width: 60px;
            height: 60px;
        }

        #espaco {
            background-color: white;
            border: 1px solid white;
            width: 60px;
            height: 60px;
        }

        #espaco2 {
            background-color: white;
            border: 1px solid white;
            width: 60px;
            height: 20px;
        }

        /* final*/

        /* formatação lestras*/
        #numcanto {
            text-align: left;
        }

        h3 {
            margin: 0px;
            text-align: center;
        }

        h5 {
            margin: 0px;
        }

        h6 {
            margin: 0px;
            text-align: center;
        }



        /*final*/
        table,
        th,
        td {
            border: 1px solid black;
            margin: 0px;
            padding: 0%;
        }